node_modules/
dist/
coverage/
.nyc_output/
*.test*
*.spec*
test/
.nycrc
.nvmrc
.vscode/
.git/
Dockerfile*
docker-compose*.yml
*.eslint*
*.prettier*
*.md
*.log
.env*
.cache
.dockerignore
.gitignore
.DS_Store
