{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "build/",
    "test/**/*.spec.ts"
  ],
  "excludeNodeModules": true
}
